@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);


#msg-box1-b .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-b .mbr-article {
  color: #fff;
}
#slider-4 H1 {
  font-family: 'Slabo 27px', serif;
  color: #ffffff;
  text-align: left;
}
#slider-4 P {
  text-align: left;
  color: #543744;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
}
#slider-4 I {
  font-size: 48px;
}
